<section class="author">
    <div>
        <small>
            <span class="font-weight-bold">JOÃO PEDRO</span>
            <span class="text-muted">a.k.a</span>
            <a href="https://github.com/sosolidkk/">@sosolidkk</a>
        </small>
        <small>
            <a href="mailto:pedrochaveslimas3@gmail.com">pedrochaveslimas3@gmail.com</a>
        </small>

        <hr>
        <small>
            <a href="{{ url_for('main.about_me') }}">about me / cv</a><br>
        </small>
        <hr>
    </div>
</section>