<section class="post">
    {% if current_post is not none %}
    <h1>{{ current_post.title }}</h1>
    <small class="text-muted text-right">{{ current_post.author }} | </small>
    <small class="text-muted text-right">
        {{ post_time.date }} {{ post_time.hour }} |
    </small>
    <small class="text-muted">{{ post_info.time }} min read |</small>
    <small class="text-muted">{{ post_info.words }} words</small>
    <p>
        {{ current_post.body|safe }}
    </p>
    {% endif %}
</section>