{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/post.css') }}">
{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light rounded mt-2 mx-2">
    {% if current_post is not none %}
    <a href="{{ url_for('main.index' ) }}" class="badge badge-primary">fechar post</a>
    {% endif %}
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="mt-5 ml-2 col-md-3">
            {% include "sub_templates/_author.html" %}
            {% include "sub_templates/_posts.html" %}

        </div>
        <div class="mt-5 col-md-5">
            {% include "sub_templates/_current_post.html" %}
        </div>
    </div>
</div>
{% endblock %}